<nav class="navbar navbar-expand-lg navbar-light bgcolor">
  <a class="navbar-brand" routerLink="" (click)="getRole()">FileShare</a>
  <strong><a routerLink='../aboutus' class="nav-link text-dark" *ngIf="isLoggedIn && role ==='admin'">About
      Us</a></strong>
  <strong><a routerLink='../terms' class="nav-link text-dark mr-auto" *ngIf="isLoggedIn && role ==='admin'">Terms &
      cond.</a></strong>
  <strong><a routerLink='../' class="nav-link text-dark" *ngIf="isLoggedIn && role ==='user'">All Users
    </a></strong>
  <strong><a routerLink='../friendlist' class="nav-link text-dark" *ngIf="isLoggedIn && role ==='user'">Friend
      List</a></strong>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item btn-group" dropdown *ngIf="isLoggedIn && role ==='user'">
      <a class="nav-link text-dark" dropdownToggle role="button" (click)="getNotifications()">Notifications <i class="fa fa-caret-down"></i></a>

      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" *ngFor="let notification of notifications">
          <span *ngIf="notification.msg" class="dropdown-item m-2 p-2 text-danger">{{notification.msg}}</span>
          <a *ngIf="notification._id" class="dropdown-item">Friend request from {{notification._id.username}}</a>
          <button *ngIf="notification._id" class="btn btn-primary mx-4 px-3" (click)="acceptRequest(notification._id._id)">Accept</button>
          <button *ngIf="notification._id" class="btn btn-danger px-3" (click)="rejectRequest(notification._id._id)">Reject</button>
          <hr>
        </li>
      </ul>
    </li>
    <li class="nav-item" id="logout" *ngIf="isLoggedIn">
      <a class="nav-link text-dark " (click)="logout()" href="javascript:void(0);"><i class="fa fa-power-off text-dark"
          aria-hidden="true"></i> Sign out</a>
    </li>
  </ul>
</nav>
