<div class="row">
    <h3 class="mx-auto my-3">Hello {{ loggedInUsername }},</h3>
    <div class="mx-auto col-md-6">
      <input
        class="mt-3 form-control border border-dark"
        type="text"
        name="search"
        id="search"
        placeholder="Search your friends"
        [(ngModel)]="searchText"
      />
    </div>
  </div>
<h5 class="card-header my-3">Friend List</h5>
<div class="row">
  <div class="col-md-3" *ngFor="let friend of friendList | filter: searchText">
    <div class="card mb-3 mx-3" style="width: 12rem;">
      <img
        src="http://127.0.0.1:3000/api/{{ friend._id.profile }}"
        class="card-img-top"
        alt="{{ friend._id.username }}"
        height="150px"
        width="20px"
      />
      <div class="card-body">
        <h6 class="card-title text-center">{{ friend._id.username }}</h6>
      </div>
    </div>
  </div>
</div>

<hr />
<!-- COPY RIGHTS -->
<section class="my-3 text-center">
  <div class="container">
    <div class="row">
      <div style="width: 100%;">
        <strong>
          Copyrights @ 2020. FileShare. All rights reserved.
        </strong>
      </div>
    </div>
  </div>
</section>
