<h1 class="text-center mt-3">Login</h1>
<div class="row m-3">
    <div class="card p-3 border border-dark col-sm-12 col-md-6 mx-auto">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input
                    type="email"
                    id="email"
                    class="form-control border-primary"
                    ngModel
                    name="email"
                    required
                    email
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control border-primary"
                    ngModel
                    name="password"
                    required
                />
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button> |
                <button class="btn btn-primary" routerLink="../signup" type="button">Switch to Sign Up</button>
            </div>
        </form>
    </div>
</div>
