<div class="container">
  <header
    id="main-header"
    class="rounded py-2 bg-secondary text-white mt-4 mb-3"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fas fa-cog"></i> Terms & Conditions</h1>
        </div>
      </div>
    </div>
  </header>
</div>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <pre>
              Terms and Conditions agreements act as a legal contract between (the company) who
              has the website or mobile app and the user who access your website and mobile app.

              Having a Terms and Conditions agreement is completely optional.
              No laws require you to have one.

              Not even the super-strict and wide-reaching General Data Protection Regulation (GDPR).
              It's up to you to set the rules and guidelines that the user must agree to.

              You can think of your Terms and Conditions agreement as the legal agreement where you
              maintain your rights to exclude users from your app in the event that they abuse
              your app, where you maintain your legal rights against potential app abusers, and so on.

              Terms and Conditions are also known as Terms of Service or Terms of Use.
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
