<div class="row">
  <img class="ml-auto my-3 border rounded-circle" src="http://127.0.0.1:3000/api/{{ profile }}" alt="{{ loggedInUsername }}"
    height="40px" width="50px" />
  <h3 class="mx-auto my-3">Hello {{ loggedInUsername }},</h3>
  <div class="mx-auto col-md-6">
    <input class="mt-3 form-control border border-dark" type="text" name="search" id="search"
      placeholder="Search all users" [(ngModel)]="searchText" />
  </div>
  <a routerLink="../fileupload" class="nav-link mx-auto m-3 p-2 col-md-2 rounded-lg text-center btn-success">File
    Uploads</a>
</div>

<h5 class="card-header my-3">All users List</h5>
<div class="row">
  <div class="col-md-3" *ngFor="let user of users | filter: searchText">
    <div class="card mb-3 mx-3" style="width: 12rem;">
      <img src="http://127.0.0.1:3000/api/{{ user.profile }}" class="card-img-top" alt="{{ user.name }}" height="150px"
        width="20px" />
      <div class="card-body">
        <h6 class="card-title text-center">{{ user.username }}</h6>
      </div>
      <div class="card-footer p-0">
        <a class="btn-block btn btn-primary" (click)="addToFriendList(user._id, user.username)">Add to FriendList</a>
      </div>
    </div>
  </div>
</div>

<hr />
<!-- COPY RIGHTS -->
<section class="my-3 text-center">
  <div class="container">
    <div class="row">
      <div style="width: 100%;">
        <strong>
          Copyrights @ 2020. FileShare. All rights reserved.
        </strong>
      </div>
    </div>
  </div>
</section>