<h1 class="text-center mt-3">Sign Up</h1>
<div class="row m-3">
    <div class="card p-3 border border-dark col-xs-12 col-md-6 mx-auto">
        <form #signupForm #f="ngForm" (ngSubmit)="onSubmit(signupForm)">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    class="form-control border-primary"
                    ngModel
                    name="username"
                    required
                />
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input
                    type="email"
                    id="email"
                    class="form-control border-primary"
                    ngModel
                    name="email"
                    required
                    email
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control border-primary"
                    ngModel
                    name="password"
                    required
                />
            </div>
            <div class="form-group mb-3">
              <label for="profile">Profile Photo</label>
              <input
                  type="file"
                  id="profile"
                  class="form-control border-primary"
                  ngModel
                  name="profile"
                  required
                />
            </div>
            <div>
                <button class="btn btn-primary" name="signup" [disabled]=!f.valid>Sign Up</button> |
                <button class="btn btn-primary" routerLink="../login" type="button">Switch to Login</button>
            </div>
        </form>
    </div>
</div>