<section id="main" class="m-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <h3 class="mb-2">Hello {{ username }},</h3>
        <!-- Website Overview -->
        <div class="card">
          <h5 class="card-header" style="background: #e74c3c;">
            Website Overview
          </h5>
          <div class="card-body card-group">
            <div class="col-md-4">
              <div
                class="well dash-box border border-dark shadow p-3 mb-3 bg-white"
              >
                <h2><i class="fa fa-user"></i> {{ users.length }}</h2>
                <h4>Total Users</h4>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="well dash-box border border-dark shadow p-3 mb-3 bg-white"
              >
                <h2><i class="fa fa-user"></i> {{ activeUsers.length }}</h2>
                <h4>Active Users</h4>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="well dash-box border border-dark shadow p-3 mb-3 bg-white"
              >
                <h2><i class="fa fa-signal"></i> {{ users.length }}</h2>
                <h4>Registered in last 30 days</h4>
              </div>
            </div>
          </div>
        </div>

        <!-- Latest Users -->
        <div class="card">
          <h5 class="card-header">
            <input
              class="col-md-6 mt-3 form-control border border-dark"
              type="text"
              name="search"
              id="search"
              placeholder="Search Registered Users"
              [(ngModel)]="searchText"
              />
          </h5>

          <div class="card-body table-responsive">
            <table class="table table-striped text-center table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Profile</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Joined</th>
                  <th scope="col">Block/Unblock</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | filter: searchText; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td><img
                    src="http://127.0.0.1:3000/api/{{ user.profile }}"
                    alt="{{ user.username }}"
                    height="50px"
                    width="50px"
                  /></td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.createdAt | date }}</td>
                  <td>
                    <Button
                      class="btn btn-secondary btn-block"
                      (click)="toggleBlockedState(user.blockedStatus, user._id)"
                    >
                      {{ user.blockedStatus ? "Unblock" : "Block" }}</Button
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>
<!-- COPY RIGHTS -->
<section class="my-3 text-center">
  <div class="container">
    <div class="row">
      <div style="width: 100%;">
        <strong>
          Copyrights @ 2020. FileShare. All rights reserved.
        </strong>
      </div>
    </div>
  </div>
</section>
