<div class="container">
  <header id="main-header" class="rounded py-2 bg-secondary text-white mt-4 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fas fa-cog"></i> About Us</h1>
        </div>
      </div>
    </div>
  </header>
</div>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <pre>
              An About Us page helps your company make a good first impression, and is critical for building customer
              trust and loyalty. An About Us page should make sure to cover basic information about the store and its
              founders, explain the company's purpose and how it differs from the competition, and encourage discussion
              and interaction. Here are some free templates, samples, and example About Us pages to help your ecommerce
              store stand out from the crowd.
            </pre>
            <pre>
              When it comes to personalizing your online store, nothing is more effective than an About Us page. This is
              a quick summary of your company's history and purpose, and should provide a clear overview of the
              company's brand story. A great About Us page can help tell your brand story, establish customer loyalty,
              and turn your bland ecommerce store into an well-loved brand icon. Most importantly, it will give your
              customers a reason to shop from your brand.
            </pre>
            <pre>
              Welcome to FileShare App, your number one source for all things [entertainment, drive, filesharing].
              We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie:
              dependability, customer service and uniqueness. Founded in 1998 by Nitish Kumar, 
              FileShare has come a long way from its beginnings.

              We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or
              comments, please don't hesitate to contact us.

              Sincerely,
              Nitish Kumar, Founder
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>